<div class="col-md-4" ng-style="myStyle">
    <form name="AddQuestionForm" ng-submit="addQuestionToDB();" class="form-group">
        <!--addQuestionToDB- this is the function name which is in the QuestionController.js-->
        <div class="form-group">
            <label for="Question.Title">Title</label>
            <input type="text" id="title" class="form-control" ng-model="Question.Title" required />
        </div>
        <div class="form-group">
            <label for="Question.Questions">Questions</label>
            <input type="text" id="question" class="form-control" ng-model="Question.Questions" required />
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" ng-disabled="AddQuestionForm.$invalid" ng-click="myStyle={'pointer-events':'none'}" />
        </div>
    </form>
    <br />
    <a href="/#/questionPage" class="btn btn-success">Go to Question list page</a>
</div>